@model IEnumerable<Movies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>In Progress</h1>
<div class="All">
    @*<img src="/images/moviecorousel.jpg" class="bgconfig" />*@
    <div class="containerr">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row backgroundcustom">
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;"></h3>
                            <h1 style="text-align: right;">Welcome to Movie Listing App !</h1>
                            <br/><br />
                            @*<a class="btn btn-primary" style="float:left" asp-area="" asp-page="Views/Home/Create">Insert New Movies Now !</a>*@
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<body>
   @* <div class="moviecontainer">
    <div class="moviebox">
    <div class="movieitem">
    <img src="/images/Moonlight.jpeg" />
    </div>
    <div class="movieitem">
    <img src="/images/Antman.jpg" />
    </div>

    <div class="movieitem">
    <img src="/images//Joker.jpg" />
    </div>

    <div class="movieitem">
    <img src="/images/Theflash.jpg" />
    </div>

    <div class="movieitem">
    <img src="/images/theLastofuS.jpg" />
    </div>

    <div class="movieitem">
    <img src="/images/Hypnotic.jpg" />
    </div>
    </div>
    <h2>This is where movies gets displayed.</h2>
    </div>*@
</body>



   



